
body {
  margin: 10 5%;
  font-family: 'Open Sans', sans-serif;
}

img {
  max-width: 200px;
  margin-left: 10%;
}

table {
  min-width: 500px;
  border-collapse: collapse;
}

tr, th, td {
  margin: 5px;
  border: 1px solid grey;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
}