
body {
  margin: 10 5%;
  font-family: 'Open Sans', sans-serif !important;
}

img {
  max-width: 200px;
  margin-left: 10%;
}

table {
  min-width: 500px;
  border-collapse: collapse;
}

tr, th, td {
  margin: 5px;
  border: 1px solid #e9ecef;
  text-align: center;
}

button {
  background-color: cornflowerblue;
  color: white;
}

.container {
  display: flex;
  align-items: center;
}

.pagination a {
  padding: .5em;
}
